airdrop-ng==1.1
airgraph-ng==1.1
anki==25.9.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
apipkg==3.0.2
apparmor==4.1.7
appdirs==1.4.4
apsw==3.53.1.0
aqt==25.9.2
archinfo==9.2.217
argcomplete==3.6.3
asciidoc==10.2.1
asgiref==3.11.1
asttokens==3.0.1
attrs==26.1.0
autocommand==2.2.2
bcrypt==5.0.0
beautifulsoup4==4.14.3
bidict==0.23.1
bitarray==3.8.1
bitstring==4.4.0
blinker==1.9.0
Brotli==1.2.0
brotlicffi==1.2.0.1
btrfsutil==7.0
build==1.4.3
capstone==5.0.7
capstone6pwndbg==6.0.0a7
certifi==2026.5.20
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
colored-traceback==0.4.2
colorlog==6.10.0
contourpy==1.3.3
coverage==7.13.5
cryptography==48.0.0
css-parser==1.0.10
cssselect==1.4.0
cssselect2==0.9.0
cupshelpers==1.0
cycler==0.12.1
Cython==3.2.5
dbus-python==1.4.0
decorator==5.3.1
defusedxml==0.7.1
dependency-groups==1.3.1
Deprecated==1.3.1
deprecation==2.0.7
distlib==0.4.1
distro==1.9.0
dnspython==2.8.0
docutils==0.22.4
editables==0.6
evdev==1.9.3
eventlet==0.41.0
executing==2.2.1
fastapi==0.136.3
fastjsonschema==2.21.2
faust-cchardet==2.1.19
feedparser==6.0.12
filebytes==0.10.2
filelock==3.29.0
Flask==3.1.3
Flask-Compress==1.24
flask-cors==6.0.2
Flask-SocketIO==5.6.1
fluidity-sm==0.2.1
fonttools==4.63.0
fpdf2==2.8.7
gevent==26.5.0
gevent-websocket==0.10.1
gi-docgen==2026.1
gmpy2==2.3.0
gpg==2.0.0b25
greenlet==3.5.1
gunicorn==26.0.0
h11==0.16.0
hatch-vcs==0.5.0
hatchling==1.30.1
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.1
httplib2==0.31.2
httptools==0.8.0
humanize==4.15.0
idna==3.18
ifaddr==0.2.0
img2pdf==0.6.3
importlib_resources==6.5.2
inflate64==1.0.4
inflect==7.5.0
iniconfig==2.3.0
installer==1.0.0
intervaltree==3.2.1
invoke==3.0.3
ipython==9.12.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jaconv==0.5.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
legacy-cgi==2.6.4
lensfun==0.3.4
lexicon==3.0.0
LibAppArmor==4.1.7
libfdt==1.7.2
libtorrent==2.0.12
libvirt-python==12.4.0
lit==22.1.6.dev0
louis==3.38.0
lxml==6.1.1
lxml_html_clean==0.4.5
Mako==1.3.11.dev0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.1
mdurl==0.1.2
mechanize==0.4.10
meson==1.11.1
moddb==0.14.0
more-itertools==11.1.0
mpmath==1.4.1
msgpack==1.1.2
multivolumefile==0.2.3
natsort==8.4.0
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
niche-elf==0.3.6
nox==2026.2.9
numpy==2.4.6
ocrmypdf==17.6.0
OpenTimelineIO==0.18.1
ordered-set==4.1.0
orjson==3.11.9
outcome==1.3.0.post0
packaging==26.2
pandas==2.3.3
paramiko==4.0.0
parso==0.8.6
pathspec==1.1.1
pdf2image==1.17.0
pdfminer.six==20260107
pdftotext==2.2.2
pexpect==4.9.0
pikepdf==10.8.0
pillow==12.2.0
pip==26.1.2
pipx==1.13.0
pkg_resources==81.0.0
platformdirs==4.10.0
pluggy==1.6.0
plumbum==1.10.0
ply==3.11
pooch==1.9.0
prompt_toolkit==3.0.52
protobuf==7.35.0
psutil==7.2.2
pt==1.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pwntools==4.15.0
py==1.11.1.dev0+g447bac514.d20251221
py7zr==1.1.2
pyaaf2==1.7.1
pybcj==1.0.7
pybind11==3.0.4
pycairo==1.29.0
pychm==0.8.6
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pycups==2.0.4
pycurl==7.46.0
pydantic==2.13.4
pydantic_core==2.46.4
pydantic-extra-types==2.11.2
pydantic-settings==2.14.1
pydyf==0.12.1
pyelftools==0.32
pygdbmi==0.11.0.0
Pygments==2.20.0
PyGObject==3.56.3
pykakasi==2.3.1.dev0
PyNaCl==1.6.2
pyparsing==3.3.2
pyphen==0.17.2
pyppmd==1.2.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.18.0
PyQt6==6.11.0
PyQt6_sip==13.11.1
PyQt6-WebEngine==6.11.0
pyrate-limiter==4.2.0
pyserial==3.5
PySocks==1.7.1
pytest==9.0.3
pytest-asyncio==1.3.0
pytest-cov==7.1.0
python-dateutil==2.9.0
python-dbusmock==0.38.1
python-discovery==1.4.0
python-distutils-extra==2.39
python-dotenv==1.2.2
python-engineio==4.13.2
python-magic==0.4.27
python-ptrace==0.9.9
python-socketio==5.16.1
pytz==2026.1
pyvex==9.2.197
PyYAML==6.0.3
pyzstd==0.19.1
referencing==0.37.0
regex==2026.5.9
reportlab==4.4.10
requests==2.34.2
rich==15.0.0
ROPGadget==7.7
ropper==1.13.13
rpds-py==2026.5.1
rpyc==6.0.1
rrdtool==0.1.10
scikit-learn==1.9.0
scipy==1.17.1
selenium==4.35.0
Send2Trash==1.8.3
sentry-sdk==2.60.0
setproctitle==1.3.7
setuptools==82.0.1
setuptools-scm==10.0.5
sgmllib3k==1.0.0
simple-websocket==1.1.0
six==1.17.0
smartypants==2.0.2
smbus==1.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.4
stack_data==0.6.4.dev0+g53501eb8b.d20251216
starlette==1.1.0
sympy==1.14.0
tabulate==0.10.0
tartube==2.5.197
TBB==2023.0.0
texttable==1.7.0
threadpoolctl==3.5.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tomli==2.4.1
toolz==1.1.0
torbrowser-launcher==0.3.7
tqdm==4.67.3
traitlets==5.15.1
trio==0.33.0
trio-websocket==0.12.2
trove-classifiers==2026.6.1.19
typeguard==4.5.2
typing_extensions==4.15.0
typing-inspection==0.4.2
typogrify==2.1.0
uharfbuzz==0.55.0
ujson==5.12.1
unicorn==2.1.4
unoserver==3.7
unrardll==0.1.7
urllib3==2.7.0
userpath==1.9.2
uvloop==0.22.1
validate-pyproject==0.25
VapourSynth==76
vcs-versioning==1.1.1
virtualenv==21.4.2
waitress==3.0.2
wcwidth==0.7.0
weasyprint==69.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.8
wheel==0.47.0
wrapt==2.1.2
wsproto==1.3.2
wxPython==4.2.5
xxhash==3.7.0
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
z3-solver==4.16.0.0
zeroconf==0.149.1
zipp==3.21.0
zope.event==6.2
zope.interface==8.4
zopfli==0.4.3
zstandard==0.25.0
